# App API base URL (set explicitly for each environment)
EXPO_PUBLIC_API_URL="http://localhost:8080"
# EXPO_PUBLIC_API_URL="https://api-staging.example.com"
# EXPO_PUBLIC_API_URL="https://api.example.com"
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=